/* APP CSS */

#page .bgtop, #page .bgbtm {
	height: 0;
}

#page #sidebar {
	display: none;
}

#content {
	border-top:1px solid #ccc;
	width: 1000px;
	padding-top:20px;
}

#page .content-bg {
	background: url("../images/admin-page-content-bg-02.png") repeat-y left top;
	margin-left: 35px;
	padding: 0;
}

.container {
	width: 1000px;
}

.alert {
	width: 570px;
}

.graph {
	width:100%;
	height:400px;
}

.graph-name {
	text-decoration: underline;
	padding-bottom: 9px;
	text-transform: uppercase;
	font-size: 14px;
}

.sensor-name {
	text-transform: capitalize;
	font-weight: bold;
}

.nav-tabs.nav-stacked>li:first-child>a {
	border-radius: 0;
}


	.sensor-name i.icon-chevron-down {
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		transform: rotate(-90deg);
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	.sensor-name.collapsed i.icon-chevron-down {

		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	.sensor-name a.sensor-name-icon {
		width: auto;
		margin-left:-1px;
	}

.sensor-unit {
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}
	.sensor-unit a {
		text-transform: capitalize;
	}

	.sensor-unit span.label {
		position:relative;
		top:-4px;
	}

.value-choice span{
	position: relative;
	top: -3px;
	font-weight: bold;
}

	.value-choice a{
		position: relative;
		top: -4px;
	}

	#limitSelect {
		width:50px;
	}

	#limitText {
		width:100px;
	}

footer {
	width:960px;
	margin:0 auto;
}


